<div class="content-section-create-object">
	<div class="content-new-form-container-create-object">
		<div class="content-form-create-object">
					
		<%= form_with(model: accounting_object,						
						url: url,
						method: method_action,
						data: {turbo: false}
						) do |f|  %>	

			<div class="user-setting-header-bottom size-xl">
		    	<h2><%= accounting_object.persisted? ? t('form.acc_boject.update_object') : t('form.acc_boject.create_object')  %></h2>
		    </div>								

		    <div class="form-container-field-object">
		    	<%= f.label(:name_object, 'Название объекта:', class: 'm-top-m size-xl') %>
		    	<%= f.text_field(:name_object, class: 'form-input-create-object size-xl m-top-s', required: true) %>

			    <div class="text-bottom-create-object size-l">
					Придумайте название для вашего объекта 
					по которому вы планируете всести учет. 
					Наприме: дом, автомобиль, хобби.					
				</div>
		    </div>

		    <div>
		    	<hr class="drop-line-form">
		    </div>

		    <div class="user-setting-header-bottom size-xl">
		    	<span>Выберите тип</span>
		    </div>
		    
		    <div class="form-radio-btn-container">
		    	<input id="radio-test-object" type="radio" name="accounting_object[type_object_id]" value="3" hidden checked>

					<div class="form-radio-btn size-xl">
						<input id="radio-income-object" type="radio" name="accounting_object[type_object_id]" value="2">
						<label for="radio-income-object" id="radio-income-object-label" ><%= t('acc_boject.income') %></label>
					</div>

					<div class="form-radio-btn size-xl">
						<input id="radio-expense-object" type="radio" name="accounting_object[type_object_id]" value="1">
						<label for="radio-expense-object" id="radio-expense-object-label"><%= t('acc_boject.expense') %></label>
					</div>
				 
		    </div>

		    <div>
		    	<hr class="drop-line-form">
		    </div>


		    <div class="user-setting-header-bottom size-xl">
		    	<span>Вид вашего объекта</span>
		    </div>

		    <div class="form-select-container-object">
		    	<div style="display: grid; place-items: center;">
		    		<span class="size-xl">Вид объекта:</span>
		    	</div>

		    	<div>
		    		<%# select('select_kind', :kind_of_object_id, 
		    		select_kind_of_object.collect { |p| [t("form.select_kind#{p.name_kind}"), p.id] }
		    		)  %>
		    	</div>
		    	<div>
		    		<%= select('select_kind', :kind_of_object_id, 
		    		select_kind_of_object.collect { |p| [t("form.select_kind.#{p.name_kind}"), p.id] }
		    		)  %>
		    	</div>
		    </div>

		    <div>
		    	<hr class="drop-line-form">
		    </div>

		    <div class="form-container-field-object m-top-xl m-bot-m">
		    	<%= f.submit(create_or_update(accounting_object), class: 'btn-create-object') %>
		    </div>
		  
		<% end %>

	    <% if accounting_object.persisted? then  %>
				<div>
				    <hr class="drop-line-form">
				</div>

	    	<div class="form-container-field-object m-bot-xl m-top-m">
				<%= button_to(t('btn.delete'), 
				"/accounting_object/#{accounting_object.id}", 
				method: :delete, 
				class: 'btn-delete-object', 
				id: 'delete-button'
				)  %>
	    	</div>
	    <% end %>

	    </div>
	</div>		
</div>		


<script>
    document.getElementById("delete-button").addEventListener("click", function(event){
      event.preventDefault(); // Предотвращаем стандартное поведение отправки формы
      
      if(confirm("Вы действительно хотите удалить этот объект?")) {
        this.form.submit(); // Отправляем форму, если пользователь подтвердил удаление
      }
    });
</script>