<div class="content-section-create-object">
	<div class="content-form-container-create-object" id="ContetnFormObject">
		<!-- Скрытая форма -->
		<%= form_with(	action: '/accounting_object',
						ulr: '/accounting_object', 
						class: 'content-form-create-object',
						method: :post,
						data: {turbo: false}
						) do |f|  %>				

		    <div class="form-container-field-object">
		    	<%= f.label(:name_object, 'Название объекта:', id: 'name_object', class: 'm-top-m size-xl') %>
		    	<%= f.text_field(:name_object, class: 'form-input-create-object size-xl m-top-s') %>

			    <div class="text-bottom-create-object size-l">
					Придумайте название для вашего объекта 
					по которому вы планируете всести учет. 
					Наприме: дом, автомобиль, хобби
				</div>
		    </div>
		    
		    <div class="form-radio-btn-container">
			    
				<div class="form-radio-btn size-xl">
					<input id="radio-income-object" type="radio" name="type_object_id" value="2">
					<label for="radio-income-object" id="radio-income-object-label" >income</label>
				</div>	

				<div class="form-radio-btn size-xl">
					<input id="radio-expense-object" type="radio" name="type_object_id" value="1" checked>
					<label for="radio-expense-object" id="radio-expense-object-label">expense</label>
				</div>
				 
		    </div>

		    <div class="form-select-container-object">
		    	<div>
		    		<span>Выберите вид объекта:</span>
		    	</div>

		    	<div>
		    		<%= select('select_kind', :kind_of_object_id, @select_kind_of_object.collect { |p| [p.name_kind, p.id] })  %>
		    	</div>
		    </div>


		    <div>
		    	<hr class="drop-line-form">
		    </div>

		    <div class="form-container-field-object m-bot-l m-top-m">
		    	<%= f.submit('Отправить', class: 'btn-create-object') %>
		    </div>

		<% end %>
	</div>		
</div>		
