<article class="content-container-main-center">
	<section class="content-section">
		<div class="show-main-container-accounting">
			<div class="user-setting-header size-xxl">
				<span class="size-xxl"><%= @acc_object.name_object %></span>
			</div>

			<div class="show-container-accounting">					
				<div class="show-container-accounting-section-left">

					<div class="show-accounting-info-fields">
						<div>
							<span>Тип объекта</span>
						</div>
						<div>
							<span class="show-accoutnting-type-object-<%= @acc_object.type_object_id%>"><%= @acc_object.type_object.name_type %></span>
						</div>
					</div>
					
					<%= form_with(url: accounting_object_path(Base64.encode64(@acc_object.id.to_s)),
						method: 'GET', 
						data: { turbo: false }) do |f| 
					%>

						<%= f.fields_for :date_field_operations do |ff| %>

							<div class="show-accounting-date-fields">								
								<%= ff.label(:date_start, 'Дата начало')  %>
								<%= ff.date_field(:date_start, value: @date_start) %>
							</div>

							<div class="show-accounting-date-fields">
								<%= ff.label(:date_end, 'Дата конец')  %>
								<%= ff.date_field(:date_end, value: @date_end) %>
							</div>

						<% end %>
						<div class="show-accounting-date-fields">							

							<div style="text-align: center;">							
								<button type="button" onclick="resetDates()" class="btn-date-reset size-l m-top-s">Отчистить </button>
							</div>	

							<div style="text-align: center;">
								<%= f.submit('Посмотреть', class: 'btn-date-show size-l m-top-s')  %>
							</div>

						</div>
					<% end %>

					
					<div>
    				<hr class="drop-line-form">
    			</div>

					<div class="select-data-view-container">
						<div>
							<span class="select-data-view-btn size-xl active-button" id="btn-to-table">Таблица</span>
						</div>

						<div>
							<span class="select-data-view-btn size-xl" id="btn-to-chart">График</span>
						</div>
					</div>

					<div class="select-data-view-container user-actions-container" >
						<div>
							<%= link_to(t('btn.add_record'), 
							new_operation_path(accounting_object_id: @acc_object_encript), 
							class: 'btn-user-action')  %>
						</div>

						<div>
							<%= link_to(t('btn.all_category'), 
							categories_path(accounting_object_id: @acc_object_encript), 
							class: 'btn-user-action')  %>
						</div>

						<div>
							<%= link_to(t('btn.edit_object'), 
							edit_accounting_object_path(Base64.encode64(@acc_object.id.to_s)), 
							class: 'btn-user-action')  %>
						</div>

						<div>
							<%= link_to(t('btn.report'), '#', class: 'btn-user-action')  %>
						</div>
					</div>
				</div>

				<div class="show-container-accounting-section-reight">
					<div id="table-content" class="active-content">						
						<%= render(partial: 'show_table')  %>
					</div>

					<div id="chart-content" >
						<%= render(partial: 'show_chart')  %>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>


<script>
  // Получаем существующие кнопки
  const btnToTable = document.getElementById('btn-to-table');
  const btnToChart = document.getElementById('btn-to-chart');

  // Получаем существующие контентные блоки
  const tableContent = document.getElementById('table-content');
  const chartContent = document.getElementById('chart-content');

  // Обработчик кликов по кнопкам
  function handleButtonClick(event) {
    const clickedBtn = event.target;


    // Удаляем активный класс у обеих кнопок
    [btnToTable, btnToChart].forEach(btn => btn.classList.remove('active-button'));

    // Устанавливаем активный класс на выбранную кнопку
    clickedBtn.classList.add('active-button');

    // Переключаем видимость контента
    if (clickedBtn === btnToTable) {
      chartContent.classList.remove('active-content');
      tableContent.classList.add('active-content');
    } else if (clickedBtn === btnToChart) {
      tableContent.classList.remove('active-content');
      chartContent.classList.add('active-content');
    }
  }

  // Назначаем обработчики событий на обе кнопки
  btnToTable.addEventListener('click', handleButtonClick);
  btnToChart.addEventListener('click', handleButtonClick);



    function resetDates() {
        document.getElementById('_date_field_operations_date_start').value = '';
        document.getElementById('_date_field_operations_date_end').value = '';
    }

</script>

