<article class="guest_header_contaier_main">
	<section class="guest_nav_bar_container">
		<div class="guest_contianer_logo">
			<%= image_tag("logo.png", class: 'guest_navbar_logo') %>
			<span class="logo_title">Teppilin</span>
		</div>

		<ul class="guest_list_links">
			<li>О проекте</li>
			<li>О задачи</li>
			<li>Обо всем</li>
		</ul>
		
		<div class="guest_menu_sign">
			<%= link_to('Вход', '#', class: 'sign_in') %>
			<%= link_to('Регистраци', '#', class: 'sign_up') %>			
		</div>
	</section>
</article>

<article class="guest_content_contaier_main">
	<section class="guest_content_container">
		<div>
			
			<div class="">
				<div class="guest_test_fat">
					<p>Teppilin - сервис</p>
					<p>по учёту личных</p>
					<p>финансов</p>
				</div>
				<div>
					<snap class="guest_bot_text">Поможет вести личный учет по расходам и доходам</snap>
				</div>
			</div>

			<div class="guest_conteiner_content_btn">
				<%= link_to('Начать учет', '#', class: 'guest_content_btn')  %>
			</div>

		</div>
	</section>

</article>


<article>
	<section class="guest_content_container_section_three">
		<div class="guest_card_wrapper">
			<div class="guest_card">
				<%= image_tag('image_guest_1.jpg', class: 'guest_card_img') %>
				<span class="guest_image_caption">Ведение учета расхода и прихода финансов</span>			
			</div>

			<div class="guest_card">
				<%= image_tag('image_guest_2.jpg', class: 'guest_card_img') %>
				<span class="guest_image_caption">Отчет в формате таблицы за выбранный период</span>			
			</div>

			<div class="guest_card">
				<%= image_tag('image_guest_3.jpg', class: 'guest_card_img') %>
				<span class="guest_image_caption">Визуализация данных в виде графиков</span>			
			</div>
		</div>
	</section>
</article>