<article class="guest-header-contaier-main">
	<section class="guest-nav-bar-container">
		<div class="guest-contianer-logo">
			<%= image_tag("logo.png", class: 'guest-navbar-logo') %>
			<span class="logo-title">Teppilin</span>
		</div>

		<ul class="guest-list-links">
			<li>О проекте</li>
			<li>О задачи</li>
			<li>Обо всем</li>
		</ul>
		
		<div class="guest-menu-sign">
			<%= link_to('Вход', new_session_path, class: 'sign-in') %>
			<%= link_to('Регистрация', '#', class: 'sign-up') %>			
		</div>
	</section>
</article>

<article class="guest-content-contaier-main">
	<section class="guest-content-container">
		<div>
			
			<div class="">
				<div class="guest-test-fat">
					<p>Teppilin - сервис</p>
					<p>по учёту личных</p>
					<p>финансов</p>
				</div>
				<div>
					<snap class="guest-bot-text">Поможет вести личный учет по расходам и доходам</snap>
				</div>
			</div>

			<div class="guest-conteiner-content-btn">
				<%= link_to('Начать учет', '#', class: 'guest-content-btn')  %>
			</div>

		</div>
	</section>

</article>


<article>
	<section class="guest-content-container-section-three">
		<div class="guest-card-wrapper">
			<div class="guest-card">
				<%= image_tag('image_guest_1.jpg', class: 'guest-card-img') %>
				<span class="guest-image-caption">Ведение учета расхода и прихода финансов</span>			
			</div>

			<div class="guest-card">
				<%= image_tag('image_guest_2.jpg', class: 'guest-card-img') %>
				<span class="guest-image-caption">Отчет в формате таблицы за выбранный период</span>			
			</div>

			<div class="guest-card">
				<%= image_tag('image_guest_3.jpg', class: 'guest-card-img') %>
				<span class="guest-image-caption">Визуализация данных в виде графиков</span>			
			</div>
		</div>
	</section>
</article>