<div class="content-form-container-create-session">
		
	<%= form_with(model: object_user, data: { turbo: false }) do |f| %>

		<div class="text-bottom-create-object size-xxl">
			<p>Регистрация</p>			
		</div>

		<div class="form-container-field-object">
			<%= f.label(:user_name, value: t('user.user_name'), class: 'm-top-m size-xl')  %>
			<%= f.text_field(:user_name, palaceholder: t('user.user_name'), class: 'form-input-create-object size-xl m-top-s', required: true) %>
		</div>

		<div class="form-container-field-object">
			<%= f.label(:email, value: t('user.email'), class: 'm-top-m size-xl')  %>
			<%= f.text_field(:email, palaceholder: t('user.email'), class: 'form-input-create-object size-xl m-top-s', required: true) %>
		</div>

		<div class="form-container-field-object">
			<%= f.label(:password, value: (t('user.password_first')), class: 'm-top-m size-xl')  %>
			<%= f.password_field(:password, class: 'form-input-create-object size-xl m-top-s', required: true)  %>
		</div>

		<div class="form-container-field-object">
			<%= f.label(:password_confirmation, value: t('user.password_second'), class: 'm-top-m size-xl')  %>
			<%= f.password_field(:password_confirmation, class: 'form-input-create-object size-xl m-top-s', required: true)  %>
		</div>

		<div class="form-container-field-object m-bot-m m-top-m">			
			<%= f.submit(btn_sign_in_sign_up(controller), class: 'btn-create-object m-top-s')  %>
		</div>

	<% end %>
	
</div>