<div class="content-form-container-create-session">
		
	<%= form_with(model: object_user, data: { turbo: false }) do |f| %>

		<div class="text-bottom-create-object size-xxl">
			<p><%= action_controller  %></p>			
		</div>

		<div class="form-container-field-object">
			<%= f.label(:user_name, value: 'user_name', class: 'm-top-m size-xl')  %>
			<%=f.text_field(:user_name, palaceholder: 'user_name', class: 'form-input-create-object size-xl m-top-s') %>
		</div>

		<div class="form-container-field-object">
			<%= f.label(:email, value: 'email', class: 'm-top-m size-xl')  %>
			<%=f.text_field(:email, palaceholder: 'email', class: 'form-input-create-object size-xl m-top-s') %>
		</div>


		<div class="form-container-field-object">
			<%= f.label(:password, value: 'password first', class: 'm-top-m size-xl')  %>
			<%= f.password_field(:password, class: 'form-input-create-object size-xl m-top-s')  %>
		</div>

		<div class="form-container-field-object">
			<%= f.label(:password_confirmation, value: 'password second', class: 'm-top-m size-xl')  %>
			<%= f.password_field(:password_confirmation, class: 'form-input-create-object size-xl m-top-s')  %>
		</div>

		<div class="form-container-field-object m-bot-l m-top-m">			
			<%= f.submit(btn_sign_in_sign_up(controller)[:btn], class: 'btn-create-object m-top-l')  %>
		</div>

	<% end %>
	
</div>