<article class="content-container-main-center">	
	<section class="content-section-session ">
		<div class="content-container-create-object">
			<div class="user-container-setting">

				<div class="user-setting-header size-xxl">
					<span>Информация аккаутна</span>
				</div>
				<div class="user-setting-row">
					<span class="user-setting-row-line">Имя</span>
					<span class="user-setting-row-line"><%= @user.user_name %></span>
					
				</div>

				<div class="user-setting-row">
					<span class="user-setting-row-line">Email</span>
					<span class="user-setting-row-line"><%= @user.email %></span>
				</div>

				<div class="user-setting-row">
					<span class="user-setting-row-line">Дата регистрации</span>
					<span class="user-setting-row-line"><%= @user.created_at.to_date %></span>
				</div>

				<div class="user-setting-btn m-bot-m">
					<span><%= link_to(t('btn.edit'), edit_user_path('user'), class: 'guest-content-btn size-xl') %></span>
				</div>
			</div>

			<div class="user-container-setting-objects">

				<div class="user-setting-header size-xxl">
					<span>Список ваших объектов учета</span>
				</div>

				<% if @accounting_objects.present?%>

					<div class="container-setting-objects">

						<% @accounting_objects.each do |acc_obj| %>
				        <% @name_type = acc_obj.type_object.name_type%>
				        <% @name_kind = acc_obj.kind_of_object.name_kind%>

				        <a href="<%=accounting_object_path(Base64.encode64(acc_obj.id.to_s))  %>" class="card">
				        	<div class="card-object-container-name-setting">
				        		<span class="card-name-object-setting size-xxl"><%= acc_obj.name_object %></span>			        		
				        	</div>

				            <div class="card-description-object-setting">
					            
					            <span class="card-description-<%= @name_type %>"><%= @name_type %></span>
					            <span><%= @name_kind %></span>
					            
				            </div>
				        </a>

				        <% end %>				        
				    </div>

				<% else %>
					<div class="user-setting-header-bottom size-l">
						<span class="size-xl">У вас нет объекта</span>
					</div>

					<div class="user-setting-btn m-bot-m">
						
					<%= link_to(t('btn.create_object'), 
						new_accounting_object_path, 
						class: 'guest-content-btn size-xl'
							)%>
					</div>
				<% end %>
				
			</div>
		</div>
	</section>
</article>