<article class="footer_container_main">
    <section class="sectin_1">

        <div class="footer_header">
            <span>About</span>
        </div>
        <div class="footer_text">
            <p>
            Данный сайт является учебным проектом, посвящённым учету личных финансов. Цель проекта — показать основы организации личного бюджета и принципы управления денежными средствами.
            </p>
            <br>
            <p>
            Сайт не предназначен для оказания коммерческих услуг или продажи продуктов. Вся представленная информация носит исключительно ознакомительный характер и предназначена исключительно для образовательных целей.
            </p>
            <br>
            <p>
            Спасибо за интерес к проекту! Любые замечания и пожелания можно оставить через форму обратной связи.                
            </p>
        </div>

    </section>

    <section class="sectin_2">

        <div class="footer_header">
            <span>links</span>
        </div>

        <div class="footer_container_links">
            <div class="footer_text">
                <ul class="footer_list_links">
                    <li><%= link_to('link_1link_1link_1z', '#', class: 'footer_link') %></li>
                    <li><%= link_to('link_2', '#', class: 'footer_link') %></li>
                    <li><%= link_to('link_3', '#', class: 'footer_link') %></li>
                    <li><%= link_to('link_4', '#', class: 'footer_link') %></li>
                    <li><%= link_to('link_5', '#', class: 'footer_link') %></li>
                </ul>
            </div>

            <div class="footer_text">
            <ul class="footer_list_links">
                <li><%= link_to('link_1link_1link_1zz', '#', class: 'footer_link') %></li>
                <li><%= link_to('link_2', '#', class: 'footer_link') %></li>
                <li><%= link_to('link_3', '#', class: 'footer_link') %></li>
                <li><%= link_to('link_4', '#', class: 'footer_link') %></li>
                <li><%= link_to('link_5', '#', class: 'footer_link') %></li>
            </ul>
        </div>

        </div>


    </section>

    <section class="sectin_3">

        <div class="footer_header">
            <span>Contacts</span>
        </div>
        <div class="footer_text">
            <div class="footer_contacts">
                <span>contact 1</span>
                <span>88888888</span>
            </div>

            <div class="footer_contacts">
                <span>contact 2</span>
                <span>77777777777</span>
            </div>

            <div class="footer_contacts">
                <span>contact 3</span>
                <span>99999999999</span>
            </div>
        </div>

    </section>    
</article> 