<article class="footer-container-main">
    <section class="sectin-1">

        <div class="footer-header">
            <span>About</span>
        </div>
        <div class="footer-text">
            <p>
            Данный сайт является учебным проектом, посвящённым учету личных финансов. Цель проекта — показать основы организации личного бюджета и принципы управления денежными средствами.
            </p>
            <br>
            <p>
            Сайт не предназначен для оказания коммерческих услуг или продажи продуктов. Вся представленная информация носит исключительно ознакомительный характер и предназначена исключительно для образовательных целей.
            </p>
            <br>
            <p>
            Спасибо за интерес к проекту! Любые замечания и пожелания можно оставить через форму обратной связи.                
            </p>
        </div>

    </section>

    <section class="sectin-2">

        <div class="footer-header">
            <span>links</span>
        </div>

        <div class="footer-container-links">
            <div class="footer-text">
                <ul class="footer-list-links">
                    <li><%= link_to('link-1link-1link-1z', '#', class: 'footer-link') %></li>
                    <li><%= link_to('link-2', '#', class: 'footer-link') %></li>
                    <li><%= link_to('link-3', '#', class: 'footer-link') %></li>
                    <li><%= link_to('link-4', '#', class: 'footer-link') %></li>
                    <li><%= link_to('link-5', '#', class: 'footer-link') %></li>
                </ul>
            </div>

            <div class="footer-text">
            <ul class="footer-list-links">
                <li><%= link_to('link-1link-1link-1zz', '#', class: 'footer-link') %></li>
                <li><%= link_to('link-2', '#', class: 'footer-link') %></li>
                <li><%= link_to('link-3', '#', class: 'footer-link') %></li>
                <li><%= link_to('link-4', '#', class: 'footer-link') %></li>
                <li><%= link_to('link-5', '#', class: 'footer-link') %></li>
            </ul>
        </div>

        </div>


    </section>

    <section class="sectin-3">

        <div class="footer-header">
            <span>Contacts</span>
        </div>
        <div class="footer-text">
            <div class="footer-contacts">
                <span>contact 1</span>
                <span>88888888</span>
            </div>

            <div class="footer-contacts">
                <span>contact 2</span>
                <span>77777777777</span>
            </div>

            <div class="footer-contacts">
                <span>contact 3</span>
                <span>99999999999</span>
            </div>
        </div>

    </section>    
</article> 