<article class="nav-bar-header-contaier-main">
	<section class="nav-bar-container">
		<div class="nav-bar-contianer-logo">
			<%= image_tag("logo.png", class: 'navbar-logo') %>
			<span class="logo-title">Teppilin</span>
		</div>

		<ul class="nav-bar-list-links">
			
			<li><%= link_to('О проекте', '#', class: 'nav-bar-link') %></li>
			<li><%= link_to('О задачи', '#', class: 'nav-bar-link') %></li>
			<li><%= link_to('Обо всем', '#', class: 'nav-bar-link') %></li>

		</ul>

		<div class="nav-bar-menu-sign">
			<% if user_signed_in? %>
				
				<div class="nav-bar-image-ball">
					<%= image_tag('bell-solid', class: 'nav-bar-img-user')  %>
				</div>

				<details class="nav-bar-dropdown-user">
				    <summary role="button">
				      <%= image_tag('user-solid', class: 'nav-bar-img-user') %>
				    </summary>
				    <ul>
				      <li><a href="#">I'm a dropdown.</a></li>
				      <li><a href="#">In Pure CSS</a></li>
				      <li><a href="#">As in...</a></li>
				      <li><a href="#">No JavaScript.</a></li>
				      <li><a href="#">At All.</a></li>
				  </ul>
				</details>

			<% else %>

				<div class="nav-bar-menu-sign">
					<%= link_to('Вход', '#', class: 'sign-in') %>
					<%= link_to('Регистрация', '#', class: 'sign-up') %>			
				</div>
			
			<% end %>
		</div>

	</section>
</article>
