<article class="nav-bar-header-contaier-main">
	<section class="nav-bar-container">
		<div class="nav-bar-contianer-logo">
			<%= image_tag("logo.png", class: 'navbar-logo') %>
			<span class="logo-title">Teppilin</span>
		</div>

		<ul class="nav-bar-list-links">
			
			<li><%= link_to('О проекте', '#', class: 'nav-bar-link') %></li>
			<li><%= link_to('О задачи', '#', class: 'nav-bar-link') %></li>
			<li><%= link_to('Обо всем', '#', class: 'nav-bar-link') %></li>

		</ul>

		<%= render(partial: 'shared/dropdown_menu') %>

	</section>
</article>
