<!DOCTYPE html>
<html>
  <head>
    <title>SelfFinanceDiplom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
        
      <header>
        <%= render_navbar %>
      </header>

      <main>
        <%= render_message if !flash.empty?  %>
        <%= yield %>
      </main>

      <footer>
        <%= render_footer %>      
      </footer>
    
    </div>
  </body>
</html>
